body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-caption {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.text-description,
.text-nav {
  font-size: 14px;
  color: #333333;
}

.text-nav {
  font-weight: bold;
}